.Main
{
    width: 100%;
    height: 100%;
    overflow: clip;
}

.exit_all
{
  height: 450px;
  width: 400px;
  
}
#main_panel_ally_sub
{
  height: 800px;
  width: 600px;
  
}
#main_panel_ally
{
margin-left: 10px;
  margin-top: 50px;
  height: 800px;
  width: 600px;
  
}
.Parent_panel_ally
{
  height: 90px;
  width: 300px;
}

.BG
{
	background-image: url("file://{images}/custom_game/HUD/ally_back_ground.png");
  height: 90px;
  width: 300px;
}

.health_bar
{
	background-image: url("file://{images}/custom_game/HUD/ally_health.png");
  height: 90px;
  width: 300px;
}

.mana_bar
{
	background-image: url("file://{images}/custom_game/HUD/ally_mana.png");
  height: 90px;
  width: 300px;
}

.Over_Line
{
	background-image: url("file://{images}/custom_game/HUD/ally_outline.png");
  height: 90px;
  width: 300px;
}

.Label
{
	text-overflow: clip;
	font-weight: thin;
	font-size: 25px;
	color: #AACCFF;
}

.Inventory_Label
{
	text-overflow: clip;
	font-weight: thin;
	font-size: 15px;
	color: #AACCFF;
}

.Inventory_Button
{
  background-image: url("file://{images}/custom_game/inventory/button_menu.png");
  height: 40px;
  width: 200px;
}
.Inventory_Button:hover
{
  background-image: url("file://{images}/custom_game/inventory/button_menu_hover.png");
  brightness: 1.5;
}

.HeroPanel
{
background-image: url("file://{images}/custom_game/inventory/hero_panel_base.png");
  margin-left: 50px;
  margin-top: 50px;
  height: 751px;
  width: 678px;
}
.Close
{
	background-image: url("file://{images}/custom_game/inventory/Close_button.png");
	horizontal-align: right;
    vertical-align: top;
	margin-right: 15px;
  margin-top: 15px;
  height: 40px;
  width: 40px;
  
}
.Close:hover
{
	background-image: url("file://{images}/custom_game/inventory/Close_button_hover.png");
	brightness: 1.5;
}
.Inventory_Label_ve_small
{
	text-align: center;
	text-overflow: clip;
	font-weight: thin;
  font-size: 18px;
	color: #FFFFFF;
}
.ItemButton:hover{
	background-image: url("file://{images}/custom_game/inventory/item_slot_hover.png");
}

.ItemButton_Selected{
	background-image: url("file://{images}/custom_game/inventory/item_slot_active.png");
}

.menu_Items
{
width: 100%;
    height: 100%;
}

#Menu_h
{
  width: 100%;
    height: 100%;
}

.Inventory_Label
{
  font-size: 25px;
	margin-left: 10px;
    font-weight: bold;
	color: #FFFFFF;
}
.Inventory_Label_small
{
	text-align: center;
	text-overflow: clip;
	font-weight: thin;
  font-size: 20px;
	margin-left: 10px;
	color: #FFFFFF;
}
.Inventory_Label_small2
{
	text-align: left;
	text-overflow: clip;
	font-weight: thin;
  font-size: 20px;
	margin-left: 10px;
	color: #FFFFFF;
}
