.Main
{
    width: 100%;
    height: 100%;
    overflow: clip;
}

#main_panel
{
margin-left: 600px;
  margin-top: 0px;

  height: 200px;
  width: 1244px;
  overflow: clip;
}

.BG
{
background-image: url("file://{images}/custom_game/boss/boss_Health_Bar_base.png");
  margin-top: 25px;
  height: 50px;
  width: 1244px;
  overflow: clip;
}

.HB
{
background-image: url("file://{images}/custom_game/boss/boss_Health_Bar.png");

  margin-top: 25px;
height: 50px;
width: 1244px;
  overflow: clip;
}

.overlay
{
  background-image: url("file://{images}/custom_game/boss/layout.png");
  margin-top: 25px;
  height: 50px;
  width: 1244px;
  overflow: clip;
}

.second
{
	background-image: url("file://{images}/custom_game/boss/secondary.png");
  margin-top: 25px;
  height: 50px;
  width: 1244px;
  overflow: clip;
}

.main
{
	background-image: url("file://{images}/custom_game/boss/Main.png");
  margin-top: 25px;
  height: 50px;
  width: 1244px;
  overflow: clip;
}

.name
{
	text-align: center;
	text-overflow: clip;
	font-weight: thin;
	font-size: 30px;
	color: #AACCFF;
  height: 50px;
  width: 550px;
  overflow: clip;
}

.hp_text
{
	text-align: center;
	text-overflow: clip;
	font-weight: thin;
	font-size: 30px;
	color: #AACCFF;
  height: 50px;
  width: 550px;
  overflow: clip;
}
