@define TotalLength: 5s;
@define TimingFunc: linear;
@define IterationCount: 1;
@define AnimationDelay: 0s;
.character_selection
{
    width: 100%;
    height: 100%;
    overflow: clip;
}

.menuButton{
	background-image: url("file://{images}/custom_game/hero/button.png");
	height: 100px;
  width: 600px;
  background-size: 600px 100px; // image is drawn 300px wide, 200px tall
}

.menuButton:hover{
	background-image: url("file://{images}/custom_game/hero/button_over.png");
}

#Title
{
  margin-left: -1200px;
  margin-top: 0px;
  pre-transform-scale2d: 1.0;
  animation-name: Title_anim;
  animation-delay: 0s;
  animation-duration: 5s;
  animation-timing-function: TimingFunc;
  animation-iteration-count: IterationCount;
}
#made
{
  margin-left: -1200px;
  margin-top: 450px;
  pre-transform-scale2d: 1.0;
  animation-name: Title_anim;
  animation-delay: 0s;
  animation-duration: 5s;
  animation-timing-function: TimingFunc;
  animation-iteration-count: IterationCount;
}


#madea
{
  margin-left: 0px;
  margin-bottom: 0px;
}

#titlea
{
  margin-left: 0px;
  margin-bottom: 0px;
}

@keyframes 'Title_anim'
{
  0%
  {
	transform: translateX( 1200px ) translateY( 0px );
    pre-transform-scale2d: 1.0;
  }

  100%
  {
	transform: translateX( 0px ) translateY( 0px );
  }
}

.background_slot
{
  margin-left: 1400px;
  margin-top: 50px;
  height: 925px;
  width: 430px;
  background-image: url("file://{images}/custom_game/hero/Hero_selection_menu.png");
}

.slot_unselected
{
  brightness: 1.5;
  margin-left: 5px;
  height: 120px;
  width: 420px;
  background-image: url("file://{images}/custom_game/hero/unselected_hero_button.png");
}

.slot_unselected:hover
{
  brightness: 2.0;
  margin-left: 5px;
  height: 120px;
  width: 420px;
  background-image: url("file://{images}/custom_game/hero/hover_hero_button.png");
}

.slot_selected
{
  brightness: 1.5;
  margin-left: 5px;
  height: 120px;
  width: 420px;
  background-image: url("file://{images}/custom_game/hero/selected_hero_button.png");
}
.slot_selected:hover
{
  brightness: 2.5;
  margin-left: 5px;
  height: 120px;
  width: 420px;
  background-image: url("file://{images}/custom_game/hero/selected_hero_button.png");
}
.Label_Desc
{
  margin-left: 5px;
  margin-top: 19px;

  width: 420px;
  text-align: left;
	text-overflow: clip;
	font-weight: thin;
	font-size: 25px;
	color: #AACCFF;
}
.Create_NH
{
  margin-left: 120px;
  margin-top: 40px;
  height: 64px;
  width: 300px;
  text-align: left;
	text-overflow: clip;
	font-weight: thin;
	font-size: 35px;
	color: #AACCFF;
}
.unknow_icon
{
  margin-left: 27.5px;
  margin-top: 27.5px;
  height: 64px;
  width: 64px;
  background-image: url("file://{images}/custom_game/hero/new_hero.png");
}
.icon
{
  margin-left: 27.5px;
  margin-top: 27.5px;
  height: 64px;
  width: 64px;
  background-image: url("file://{images}/custom_game/hero/new_hero.png");
}
.XPBG_Bars
{
  margin-left: 120px;
  margin-top: -50px;
  height: 300px;
  width: 300px;
  background-size: 100% 100%;
  background-image: url("file://{images}/custom_game/HUD/ally_back_ground_XP.png");
}

.XP_Bars
{
  margin-left: 120px;
  margin-top: -50px;
  height: 300px;
  width: 300px;
  background-size: 100% 100%;
  background-image: url("file://{images}/custom_game/HUD/ally_XP.png");
}


.hero_name
{
  margin-left: 120px;
  margin-top: 23px;
  height: 64px;
  width: 300px;
  text-align: left;
	text-overflow: clip;
	font-weight: thin;
	font-size: 22px;
	color: #AACCFF;
}

.hero_level
{
  margin-left: 121px;
  margin-top: 80px;
  height: 64px;
  width: 300px;
  text-align: left;
	text-overflow: clip;
	font-weight: thin;
	font-size: 30px;
	color: #AACCFF;
}

.hero_xp
{
  margin-left: 121px;
  margin-top: 52px;
  height: 64px;
  width: 300px;
  text-align: left;
	text-overflow: clip;
	font-weight: thin;
	font-size: 18px;
	color: #DDEEFF;
  padding-left: 8px;
  text-shadow: 1px 1px 1px 3 #112255b0;
}


.parent_hero_choice
{
  margin-left: 500px;
  margin-top: 50px;
  height: 925px;
  width: 860px;
  background-image: url("file://{images}/custom_game/hero/Hero_selection_menu.png");
}
.parent_load_choice
{
  margin-left: 500px;
  margin-top: 50px;
  height: 925px;
  width: 430px;
  background-image: url("file://{images}/custom_game/hero/Hero_selection_menu.png");
}


.sub_parent
{
  margin-left: 0px;
  margin-top: 0px;
  height: 925px;
  width: 430px;
}
