 .bar_panel
{
    width: 100%;
    height: 100%;
    overflow: clip;
}
#PortaitImage_cut {
	vertical-align: center;
	vertical-align: center;

	width: 198px;
  height: 195px;
  
  margin-left: 26px;
  margin-top: -1px;
  border-radius: 50%;


}

#PortaitImage {
	vertical-align: center;
	vertical-align: center;


}

#Bar_BG
{
	horizontal-align: left;
    vertical-align: bottom;
	width: 803px;
  height: 227px;
}
#Bar_OL
{
	horizontal-align: left;
    vertical-align: bottom;
	width: 803px;
  height: 227px;
}
#hp_bar_parent
{
	horizontal-align: left;
    vertical-align: bottom;
	width: 803px;
  height: 227px;
}
#mp_bar_parent
{
	horizontal-align: left;
    vertical-align: bottom;
	width: 803px;
  height: 227px;
}
#hxp_bar_parent
{
	horizontal-align: left;
    vertical-align: bottom;
	width: 803px;
  height: 227px;
}
#wxp_bar_parent
{
	horizontal-align: left;
    vertical-align: bottom;
	width: 803px;
  height: 227px;
}

#bar_general
{
  horizontal-align: left;
  vertical-align: bottom;
  width: 803px;
  height: 227px;
 }
 
 #bar_bg
 {
    horizontal-align: right;
    vertical-align: top;
 }
 
#hp_bar
{
	horizontal-align: left;
    vertical-align: bottom;
	width: 803px;
  height: 227px;
}
#mp_bar
{
	horizontal-align: left;
    vertical-align: bottom;
	width: 803px;
  height: 227px;
}
#hxp_bar
{
	horizontal-align: left;
    vertical-align: bottom;
	width: 803px;
  height: 227px;
}
#hero_icon
{
	horizontal-align: left;
    vertical-align: bottom;
	width: 803px;
  height: 227px;
}
#icon
{
	horizontal-align: left;
    vertical-align: bottom;
	width: 803px;
  height: 227px;
}
#wxp_bar
{
	horizontal-align: left;
    vertical-align: bottom;
	width: 803px;
  height: 227px;
}
#no_weapon
{
	horizontal-align: left;
    vertical-align: bottom;
	width: 803px;
  height: 227px;
}
#no_mana
{
	horizontal-align: left;
    vertical-align: bottom;
	width: 803px;
  height: 227px;
}
 
 #hp_bar_current
{
	margin-right: 230px;
	font-size: 25px;
	margin-top: 172px;
    font-weight: bold;
	color: #FFFFFF;
	horizontal-align: right;
 }
  #hp_bar_slash
{
	margin-left: 530px;
	font-size: 25px;
	margin-top: 172px;
    font-weight: bold;
	color: #FFFFFF;
 }
  #hp_bar_total
{
	margin-left: 550px;
	font-size: 25px;
	margin-top: 172px;
    font-weight: bold;
	color: #FFFFFF;
 }

  #mp_bar_current
{
	margin-right: 230px;
	font-size: 20px;
	margin-top: 143px;
    font-weight: bold;
	color: #FFFFFF;
	horizontal-align: right;
 }
  #mp_bar_slash
{
	margin-left: 530px;
	font-size: 20px;
	margin-top: 143px;
    font-weight: bold;
	color: #FFFFFF;
 }
  #mp_bar_total
{
	margin-left: 550px;
	font-size: 20px;
	margin-top: 143px;
    font-weight: bold;
	color: #FFFFFF;
 }
 
   #hxp_bar_current
{
	margin-right: 230px;
	font-size: 20px;
	margin-top: 110px;
    font-weight: bold;
	color: #FFFFFF;
	horizontal-align: right;
 }
  #hxp_bar_slash
{
	margin-left: 530px;
	font-size: 20px;
	margin-top: 110px;
    font-weight: bold;
	color: #FFFFFF;
 }
  #hxp_bar_total
{
	margin-left: 550px;
	font-size: 20px;
	margin-top: 110px;
    font-weight: bold;
	color: #FFFFFF;
 }
 
	#gold_icon
	{
	height: 64px;
 width: 64px;
 horizontal-align: right;
	margin-top: -25px;
	margin-right: 0px;
	}
	
	#gold_ammount
	{
	height: 40px;
 horizontal-align: right;
	margin-top: -10px;
	margin-right: 80px;
	text-align: right;
	text-overflow: clip;
	font-weight: thin;
  font-size: 40px;
	color: #FFEE55;
	}

	#Gold
	{
	margin-top: 40px;
	height: 100%;
	width: 100%;
	}
	
   #wxp_bar_current
{
	margin-right: 230px;
	font-size: 18px;
	margin-top: 87px;
    font-weight: bold;
	color: #FFFFFF;
	horizontal-align: right;
 }
  #wxp_bar_slash
{
	margin-left: 530px;
	font-size: 18px;
	margin-top: 87px;
    font-weight: bold;
	color: #FFFFFF;
 }
  #wxp_bar_total
{
	margin-left: 550px;
	font-size: 18px;
	margin-top: 87px;
    font-weight: bold;
	color: #FFFFFF;
 }
 
   #wlevel
{
	margin-left: 562px;
	font-size: 25px;
	margin-top: 60px;
    font-weight: bold;
	color: #FFFFFF;
 }
   #wlevellab
{
	margin-left: 480px;
	font-size: 25px;
	margin-top: 60px;
    font-weight: bold;
	color: #FFFFFF;
 }
   #wname
{
	margin-right: 280px;
	font-size: 20px;
	margin-top: 60px;
    font-weight: bold;
	color: #FFFFFF;
	horizontal-align: right;
 }
 
   #name
{
	margin-right: 500px;
	font-size: 20px;
	margin-top: 128px;
    font-weight: bold;
	color: #FFFFFF;
	horizontal-align: center;
 }
    #level
{
	margin-right: 500px;
	font-size: 30px;
	margin-top: 80px;
    font-weight: bold;
	color: #FFFFFF;
	horizontal-align: center;
 }
    #space
{
	margin-left: 750px;
	font-size: 20px;
	margin-top: 144px;
    font-weight: bold;
	color: #FFFFFF;
 }
 