.ItemButton{
	background-image: url("file://{images}/custom_game/inventory/item_slot_simple.png");
	height: 64px;
  width: 64px;
  background-size: 64px 64px;
}
.ItemImage{
	height: 64px;
  width: 64px;
}
.ItemButton:hover{
	background-image: url("file://{images}/custom_game/inventory/item_slot_hover.png");
}

.ItemButton_Selected{
	background-image: url("file://{images}/custom_game/inventory/item_slot_active.png");
}

.Main
{
    width: 100%;
    height: 100%;
    overflow: clip;
}
.Close
{
	background-image: url("file://{images}/custom_game/inventory/Close_button.png");
	horizontal-align: right;
    vertical-align: top;
	margin-right: 15px;
  margin-top: 15px;
  height: 40px;
  width: 40px;

}
.Close:hover
{
	background-image: url("file://{images}/custom_game/inventory/Close_button_hover.png");
	brightness: 1.5;
}
.Inventory_Menu
{
  height: 200px;
  width: 200px;
}
.Inventory_Button
{
  background-image: url("file://{images}/custom_game/inventory/button_menu.png");
  height: 40px;
  width: 200px;
}
.Inventory_Button:hover
{
  background-image: url("file://{images}/custom_game/inventory/button_menu_hover.png");
  brightness: 1.5;
}

.Skill_tree
{
	background-image: url("file://{images}/custom_game/inventory/button.png");
	horizontal-align: left;
    vertical-align: bottom;
	margin-left: 15px;
  margin-bottom: 15px;
  height: 30px;
  width: 100px;

}
.Skill_tree:hover
{
  background-image: url("file://{images}/custom_game/inventory/button_hover.png");
  height: 30px;
  width: 100px;

}

.Text_entry_place_holder
{
	background-image: url("file://{images}/custom_game/inventory/slide_bar.png");
	background-size: 100% 100%;
	height: 50px;
	text-align: center;
	width: 200px;
	text-overflow: clip;
	font-weight: thin;
	font-size: 15px;
	color: #AACCFF;
}

.Text_entry
{
	background-image: url("file://{images}/custom_game/inventory/slide_bar.png");
	background-size: 100% 100%;
	height: 50px;
	width: 200px;
	text-overflow: clip;
	font-weight: thin;
	font-size: 40px;
	color: #AACCFF;
}

.Inventory_Label
{
  font-size: 25px;
	margin-left: 10px;
    font-weight: bold;
	color: #FFFFFF;
}

.Inventory_CD
{
  font-size: 20px;
  margin-top: 40px;
  	margin-left: 10px;

    font-weight: bold;
	color: #FFFFFF;
}

.Inventory_Label_small
{
	text-align: center;
	text-overflow: clip;
	font-weight: thin;
  font-size: 20px;
	margin-left: 10px;
	color: #FFFFFF;
}
.Inventory_Label_small2
{
	text-align: left;
	text-overflow: clip;
	font-weight: thin;
  font-size: 20px;
	margin-left: 10px;
	color: #FFFFFF;
}

.Inventory_Label_ve_small
{
	text-align: center;
	text-overflow: clip;
	font-weight: thin;
  font-size: 18px;
	color: #FFFFFF;
}

.Inventory_Label_v_small
{
	text-align: center;
	text-overflow: clip;
	font-weight: thin;
  font-size: 20px;
	margin-left: 3px;
	margin-top: 5px;
	color: #FFFFFF;
}

.item_bar
{
background-image: url("file://{images}/custom_game/inventory/item_bar_panel.png");
  height: 75px;
  width: 364px;
}
.item_bar_main
{
horizontal-align: left;
    vertical-align: bottom;
  margin-left: 1300px;
  margin-bottom: 30px;
  height: 100px;
  width: 400px;
}

.Keys_image
{
background-image: url("file://{images}/custom_game/inventory/Item_bar_keys.png");
  height: 75px;
  margin-top: 25px;
  width: 364px;
}

.HeroPanel
{
background-image: url("file://{images}/custom_game/inventory/hero_panel_base.png");
  margin-left: 30px;
  margin-top: 25px;
  height: 770px;
  width: 700px;
}

.InventoryPanel
{
background-image: url("file://{images}/custom_game/inventory/inventory_Panel.png");
  margin-right: 100px;
  margin-bottom: 130px;
  vertical-align: bottom;
  horizontal-align: right;
  height: 400px;
  width: 640px;
}


#Inventory_BG
{
  margin-top: 100px;
  margin-left: 5px;
}

.Info_panel
{
 background-image: url("file://{images}/custom_game/inventory/Info_BG.png");
  height: 900px;
 width: 400px;
 overflow: clip scroll;
}


#Info
{
  height: 900px;
 width: 400px;
 margin-left: 745px;
  margin-top: 50px;
}

.menu_Items
{
width: 100%;
    height: 100%;
}

#Menu_h
{
  width: 100%;
    height: 100%;
}

#Menu
{
width: 100%;
    height: 100%;
}
#Items
{
height: 256px;
 width: 640px;
  margin-top: 100px;
  margin-left: 5px;
}
