.skill_image
{
	height: 64px;
  width: 64px;
  background-image: url("file://{images}/custom_game/inventory/item_slot_inactive.png");
}


.over_bright
{
	height: 64px;
  width: 64px;
}

.tooltip
{
	background-image: url("file://{images}/custom_game/skill_tree/tooltip.psd");
	height: 200px;
  width: 300px;
}


.Main
{
    width: 100%;
    height: 100%;
    overflow: clip;
}

.title
{
	text-align: center;
	text-overflow: clip;
	font-weight: bold;
  font-size: 25px;
	margin-left: 5px;
	color: #FFFFFF;
}

.upgrade_button
{
background-image: url("file://{images}/custom_game/skill_tree/upgrade_button.psd");
  height: 75px;
  width: 220px;
}

.upgrade_button:hover
{
background-image: url("file://{images}/custom_game/skill_tree/upgrade_button_selected.psd");
}

.unequip_button
{
background-image: url("file://{images}/custom_game/skill_tree/unequip_button.psd");
  height: 75px;
  width: 220px;
}

.unequip_button:hover
{
background-image: url("file://{images}/custom_game/skill_tree/unequip_button_hover.psd");
}

.equip_button
{
background-image: url("file://{images}/custom_game/skill_tree/equip_button.psd");
  height: 75px;
  width: 220px;
}

.equip_button:hover
{
background-image: url("file://{images}/custom_game/skill_tree/equip_button_hover.psd");
}



.equip_button_1
{
background-image: url("file://{images}/custom_game/skill_tree/equip_button_1.psd");
  height: 75px;
  width: 94px;
}

.equip_button_1:hover
{
background-image: url("file://{images}/custom_game/skill_tree/equip_button_1_hover.psd");
}
.equip_button_2
{
background-image: url("file://{images}/custom_game/skill_tree/equip_button_2.psd");
  height: 75px;
  width: 94px;
}

.equip_button_2:hover
{
background-image: url("file://{images}/custom_game/skill_tree/equip_button_2_hover.psd");
}
.equip_button_3
{
background-image: url("file://{images}/custom_game/skill_tree/equip_button_3.psd");
  height: 75px;
  width: 94px;
}

.equip_button_3:hover
{
background-image: url("file://{images}/custom_game/skill_tree/equip_button_3_hover.psd");
}
.equip_button_4
{
background-image: url("file://{images}/custom_game/skill_tree/equip_button_4.psd");
  height: 75px;
  width: 94px;
}

.equip_button_4:hover
{
background-image: url("file://{images}/custom_game/skill_tree/equip_button_4_hover.psd");
}


.Close
{
	background-image: url("file://{images}/custom_game/inventory/Close_button.png");
	horizontal-align: right;
    vertical-align: top;
	margin-right: 15px;
  margin-top: 15px;
  height: 40px;
  width: 40px;
  
}
.Close:hover
{
	background-image: url("file://{images}/custom_game/inventory/Close_button_hover.png");
}
























.skill_image
{
	height: 64px;
  width: 64px;
}

.text
{
	text-align: center;
	text-overflow: clip;
	font-weight: thin;
  font-size: 20px;
	margin-left: 5px;
	color: #FFFFFF;
}

.small_text
{
	text-align: center;
	text-overflow: clip;
	font-weight: thin;
  font-size: 15px;
	margin-left: 5px;
	color: #FFFFFF;
}


#main_panel
{
  margin-top: 80px;
  margin-left: 50px;
  
  
  background-image: url("file://{images}/custom_game/skill_tree/Skill_tree_BG.psd");
  
  height: 900px;
  width: 1820px;
}

#skill_tree_main
{
 
  margin-top: 20px;
  margin-left: 20px;
  
  height: 860px;
  width: 1260px;
  overflow: scroll;
}

#tooltip_panel
{
  height: 860px;
  width: 1260px;
  
}

#skill_tree_panel
{
  height: 860px;
  width: 1260px;
  
}

#skill_info_main
{
 
  margin-top: 20px;
  margin-left: 1300px;
  height: 860px;
  width: 500px;
  overflow: scroll scroll;
  
}
#skill_tree_info
{
  height: 860px;
  width: 500px;
}

#Back_ground_tree
{
margin-top: 20px;
  margin-left: 1300px;
background-image: url("file://{images}/custom_game/skill_tree/info.psd");
  height: 860px;
  width: 500px;
}
#Back_ground_info
{
 margin-top: 20px;
  margin-left: 20px;
background-image: url("file://{images}/custom_game/skill_tree/panel.psd");
  height: 860px;
  width: 1260px;
}


