.Main
{
    width: 100%;
    height: 100%;
    overflow: clip;
}

#Vote_Menu
{
margin-left: 20px;
  margin-top: 500px;
background-image: url("file://{images}/custom_game/vote_panel.png");
background-size: 100% 100%;
  height: 200px;
  width: 400px;
  
}
.normal_label
 {
	width: 500px;
	text-align: center;
	text-overflow: clip;
	font-weight: thin;
	font-size: 25px;
	margin-left: 5px;
	margin-top: 5px;
	color: #AACCFF;
}

.button
{
	background-image: url("file://{images}/custom_game/inventory/big_button.png");
	horizontal-align: left;
    vertical-align: top;
	background-size: 100% 100%;
  height: 50px;
  width: 150px;
}



.button:hover
{
	background-image: url("file://{images}/custom_game/inventory/big_button_hover.png");
	horizontal-align: left;
    vertical-align: top;
  background-size: 100% 100%;
  height: 50px;
  width: 150px;
}